body {
  background-color: rgb(244, 244, 147);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
/*   margin-top: 10%; */
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  background-image: url(https://media.istockphoto.com/id/1176602671/photo/falling-autumn-leaves-before-sunset.jpg?s=612x612&w=0&k=20&c=q5syXIvFQOw1VQjXKZifqNkM44pkv7Gu8TG52TG7e7s=);
  border: 1px solid black;
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(96, 60, 20);
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic{
  height: 450px;
  width: 600px;
  object-fit: cover;
  border: 1px solid black;
}

h2{
  color: rgb(255,255,255);
/*   font-size: 10px; */
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}